.book {
  padding: 2vw 2vw 1vw 2vw;
  margin: 4vw 1vw 0 1vw;
  flex: 1 40%;
  border: 1px solid rgb(118, 116, 113);
  border-radius: 16px;
  width: 32vw;

  text-align: center;
}

@media (max-width: 820px) {
  .book {
    width: 70vw;
  }
}

div .text {
  white-space: wrap;
  overflow: hidden;
  text-overflow: "...";
  height: 26vh;
}

p.title {
  margin-top: auto;
  font-size: 26px;
}

p {
  font-size: 18px;
}