header {
  margin: 20px 5px;
}

nav {
  height: auto;
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 3vw;
  font-family: 'Open Sans', cursive;
  margin: 0 0 0 25px;
}

form {
  margin: auto;
}

input {
  border: 2px gray solid;
  border-radius: 2vw;
  padding-left: 10px;
  min-width: 10vw;
  color: #59544e;
  font-size: medium;
}

input:focus {
  outline: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

@media screen and (max-width: 1024px) {
  nav a {
    font-size: 6vw;
  }
}

@media screen and (max-width: 430px) {
  .container {
    border-radius: 6vw;
  }

  nav a {
    font-size: 26px;
  }
}

.background {
  background: aliceblue;
  border-radius: 3vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.books {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

p.nf {
  font-family: "Open Sans";
  font-size: xx-large;
  margin: 10vh 10vw;
}

